.App {
  flex: 1; 
}

.project {
  text-align: center;
  color: white;
  margin-top: 80px;
  margin-bottom: 80px;
}

body{
  background-color: royalblue;
  margin:0px;
  padding:0px;
}

.booksOptions{
  margin-bottom: 30px;
}


.linkBackground{
  background-color: blue;
  color: white;
  font-size: 22px;
  margin-top:20px;
  margin-left:5%;
  margin-right:5%;
  display: flex;
  padding:10px;
  position: relative;
  text-decoration: none;
  align-items: center;
}

.rightArrow{
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
}

h1{
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 480px) {
  .rightArrow{
    height: 40px;
    width: 40px;
  }
  
  .booksOptions{
    margin-bottom: 10px;
  }

  .linkBackground{
    font-size: 18px;
    margin-top: 10px;
  }

  h1{
    font-size: 30px;
  }

}



